version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "org.openjfx:javafx-fxml"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
